{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 style="color: rgb(10, 10, 10);" align="center">Welcome to SDSU real estate system</h1>
<table>
    {% for row in data.itertuples %}
    <tr>
        <td>
            <img src="{% static 'house.jpg'%}" alt="{House}" width="100" height="100">
            <a id="{{forloop.counter0}}" name="selected_house" href="{%url 'selected_house' %}?value={{row.address}}">{{row.address}}</a>
        </td>
    </tr>
    {% endfor %}
 </table>
{% endblock %}